#wrapper{
    padding:0 0 104px 0;
    min-height: 100%;
    position: relative;
    background: white;
}

#header {

}

#body{
  position:relative;	
  background: white;
  padding-top: 24px;

}
body,html{
  height:100%;
}
#footer {
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  margin-top: 30px;
  border-top: 1px solid $gray-lighter;
  padding-top: 30px;
  color: $gray-light;
  background-color:$gray-darker;
  min-height:80px;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}


.coverpost{
	text-align: center;
	margin:24px auto;
	a {
		position: relative;
		display: inline-block;
		overflow:hidden;
		border-radius: 5px;
	  	width:100%;
		img {
			box-shadow: 0 0 8px rgba(0, 0, 0, .3);
			margin: 0 auto;
			border: 1px solid #ccc;
			border-radius: 5px;
		  	width:100%;
		}
	  	.words{
		  position: absolute;
		  top: 0;
		  color: white;
		  padding: 32px;
		}
		.caption{
			position: absolute;
			bottom: 0;
			left:0;
			right:0;
			background-color: rgba(255,255,255,.9);
			border-top:3px solid $mainColor;
			line-height: 48px;
			color: #444;
			font-weight: 700;
			border-radius: 0 0 5px 5px;
			@media (min-width: $grid-float-breakpoint) {
				transform:translate3d(0,100%,0);
				opacity: 0;
				transition:all .1s ease-in;
			}
			
		}
		@media (min-width: $grid-float-breakpoint) {
			&:hover .caption {
				transform: translate3d(0, 0, 0);
				opacity: 1;
			}
		}
	}
}

.colortitle{
  position: relative;
  padding:11px;
  font-weight: 300;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.32), -6px 0 0 #E9F5F7 inset;
  background: #f9f9f9;
  font-size:24px;
  + *{
	padding:0 11px;
  }
  a{
    color:lighten($text-color,5%);
    &:hover{
      text-decoration: none;
      color:#000;
    }
  }
}

.colortitle-aligned{
  
	position: relative;
	padding:11px;
	font-weight: 300;
  	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.32), -6px 0 0 #E9F5F7 inset;
  	background: #f9f9f9;
    font-size:24px;
  	+ *{
	  padding:0 11px;
	}
	a{
		color:lighten($text-color,5%);
		&:hover{
			text-decoration: none;
			color:#000;
		}
	}
}



.xlarge{
  font-size:$font-size-xlarge
}
.postlist {
  display: flex;
  @include clearfix();
  .limitwidth {
    display: inline-block;
    flex:1;
    padding:0 .5em 0 0;
    @include text-overflow();
  }
  a,p{

  }
}
.alignedcontact{
	@media (min-width: $grid-float-breakpoint) {
		margin-left:14px;
	}
	
}
.container.index{
	@media (max-width: $grid-float-breakpoint-max) {



	}
	
}

.gridimages{
	margin: 6px auto;
	box-shadow: 0 0 4px rgba(0,0,0,.8);
	background: black;
	a{
	  cursor: default;
	}
  [class*="col-"] {
    padding: 0!important;
	  
    &.main{
		height:450px;
		@media (max-width: $grid-float-breakpoint-max) {
			height:350px;
		}
	}
    height:225px;
    .image
    {
      height: 100%;
      p{
        position: absolute;
        text-align: center;
        top:46%;
        color:white;
        font-size:1.8em;
        font-weight: bold;
        padding:0 12px;
        left:0;
        right:0;
        opacity: 0;
        transition: all .35s ease-in;
        transform:translate3d(0,-12px,0);
		@media (max-width: $grid-float-breakpoint-max) {
			  opacity:.8;
		}
      }

      overflow:hidden;
      position: relative;
      img{
        min-height: 100%;
        width: 100%;
        opacity: .95;
        transition:all .5s ease-in;
        background-color: transparent;
      }


      &:after{
        content:'';
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;  
		transition:all .5s ease-in;  
		box-shadow: inset 0 0 0 1px black;
	  }

      .hover{
        img{
           transform:scale(1.1);
        }
        &:after{
		  background-color:rgb(90,233,198);
          background-color: rgba(90,233,198,.8);  
			box-shadow: none;	
        }
        p{
          opacity: 1;
          transform:translate3d(0,0,0);
        }
      }

    }
  }
}

.navbar-header{
  background: url(/images/bg.png) $mainColor;
  background-size: contain;
}

.navbar-nav>li>ul> li {
  display: inline;
  > a {
	padding: 11px 0;
	display: block;
	color: #444;
  }
}
@media (min-width: $grid-float-breakpoint-max) {
  .navbar-nav > li:hover > ul {
	display: block;
  }
  .navbar-nav > li > ul {
	list-style: none;
	padding: 0;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
	display: none;
	background: #f7f7f7;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	
  }

  .navbar-collapse {
	background-color: #f7f7f7;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  }
}
#back{
  position:fixed;
  right:18px;
  bottom:12%;
  background:white;
  border:1px solid grey;
  padding:9px 12px;
  span, a{
	display: block;
	color:#777;
	cursor: pointer;
	&:hover{
	  color:black;
	  text-decoration: underline;
	}
  }
}

.pull-center{
  text-align:center;
}
.blog{
  h3>a{
	color:#444;
	font-size:.8em;
  }
}
